<div>
  <p>WATCH:</p>
  <p id="stopwatch">00:00:00</p>
  <p>DISTANCE:</p>
  <p id="distance-box">0</p>
</div>
<button id="start" onclick="getLocationUpdate()">Start</button>
<button id="stop" onclick="stopWatch()">Stop</button>

<%= form_with model: @track, url: user_tracks_path(@user.id), method: :post do |f| %>
  <%= f.label :extra %>
  <%= f.text_field :extra %>

  <%= f.hidden_field :time, id:'time' %>

  <div id='lat-div'></div>
  <div id='long-div'></div>
  <div id='timestp-div'></div>
  <div id='speed-div'></div>

  <%= f.submit "Save" %>
<% end %>

<script>
  var watchID;
  var geoLoc;

  const timer = document.getElementById('stopwatch');
  var hr = 0;
  var min = 0;  
  var sec = 0;  
  var stoptime = true;  

  var latitude = [];
  var longitude = [];
  var timestp = [];
  var speed = [];

  const dbox = document.getElementById('distance-box');
  var dist = 0;
  var lat1 = 0;
  var long1 = 0;

  function getLocationUpdate() {
    if(navigator.geolocation){
      geoLoc = navigator.geolocation;
      watchID = geoLoc.watchPosition(data => {
        if (stoptime == true) {
          stoptime = false;
          timerCycle();
        }
        latitude.push(data.coords.latitude);
        longitude.push(data.coords.longitude);
        timestp.push(data.timestamp);
        if(data.coords.speed) {
          speed.push(data.coords.speed);
        }
        if((lat1 !== 0) && (long1 !== 0)) {
          distance(lat1, data.coords.latitude, long1, data.coords.longitude)
          console.log('distance runs');
        }
        console.log('dist:');
        console.log(dist);
        console.log('lat');
        console.log(lat1);
        console.log('long:');
        console.log(long1);
        console.log('---');
        lat1 = data.coords.latitude;
        long1 = data.coords.longitude;
      }, (error) => console.log(error),
      {
        enableHighAccuracy: true,
      });
    } else {
        alert("Sorry, browser does not support geolocation!");
    }
  }

  function stopWatch() {
    if (stoptime == false) {
      stoptime = true;
    }
    geoLoc.clearWatch(watchID);
    const len = latitude.length;
    for(var i = 0; i < len; i++) {
      var lat = document.getElementById('lat-div').appendChild(
          document.createElement('input')
      )
      lat.value = [latitude[i]];
      lat.id = 'track_latitude';
      lat.name = 'track[latitude][]';
      lat.type = 'hidden';
      lat.step = 'any';

      var long = document.getElementById('long-div').appendChild(
          document.createElement('input')
      )
      long.value = longitude[i];
      long.id = 'track_longitude';
      long.name = 'track[longitude][]';
      long.type = 'hidden';
      long.step = 'any';

      var tmstp = document.getElementById('timestp-div').appendChild(
          document.createElement('input')
      )
      tmstp.value = timestp[i];
      tmstp.id = 'track_timestp';
      tmstp.name = 'track[timestp][]';
      tmstp.type = 'hidden';
      tmstp.step = 'any';

      if(speed.length > 0) {
        var spd = document.getElementById('speed-div').appendChild(
            document.createElement('input')
        )
        spd.value = speed[i];
        spd.id = 'track_speed';
        spd.name = 'track[speed][]';
        spd.type = 'hidden';
        spd.step = 'any';
      }
    }
    document.getElementById('time').value = sec + (min * 60) + (hr * 3600);
  }

  function timerCycle() {
    if (stoptime == false) {
      sec = parseInt(sec);
      min = parseInt(min);
      hr = parseInt(hr);

      sec = sec + 1;

      if (sec == 60) {
        min = min + 1;
        sec = 0;
      }
      if (min == 60) {
        hr = hr + 1;
        min = 0;
        sec = 0;
      }

      if (sec < 10 || sec == 0) {
        sec = '0' + sec;
      }
      if (min < 10 || min == 0) {
        min = '0' + min;
      }
      if (hr < 10 || hr == 0) {
        hr = '0' + hr;
      }

      timer.innerHTML = hr + ':' + min + ':' + sec;

      setTimeout("timerCycle()", 1000);
    }
  }
 
  function distance(lat1, lat2, long1, long2) {
    if((lat1 == lat2) && (long1 == long2)) {
      dist += 0;
    } else {
      const R = 6371e3;
      var φ1 = lat1 * Math.PI/180;
      var φ2 = lat2 * Math.PI/180;
      var Δφ = (lat2 - lat1) * Math.PI/180;
      var Δλ = (long2 - long1) * Math.PI/180;
      var a = Math.sin(Δφ/2) * Math.sin(Δφ/2) +
        Math.cos(φ1) * Math.cos(φ2) *
        Math.sin(Δλ/2) * Math.sin(Δλ/2);
      var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));

      var d = R * c;
      dist += d;
      console.log(dist);
    }
    dbox.innerHTML = dist;
  }
</script>