<%= link_to root_url do %>
  <p>BACK</p>
<% end %>
<h1>This track exists</h1>
<p>TIME SPENT:<%= @track.time %></p>
<p>CREATED AT:<%= @track.created_at%></p>

<div style="display: flex; flex-wrap: wrap;">
  <div style="border-right: 1px solid;">
    <p>LAT:</p>
    <div>
      <% @track.latitude.each do |lat| %>
        <p><%= lat %></p>
      <% end %>
    </div>
  </div>
  <div style="border-right: 1px solid;">
    <p>LONG:</p>
    <div>
      <% @track.longitude.each do |long| %>
        <p><%= long %></p>
    <% end %>
    </div>
  </div>
  <div style="border-right: 1px solid;">
    <p>TIMESTAMP:</p>
    <div>
      <% @track.timestp.each do |tmstp| %>
        <p><%= tmstp - @track.timestp[0] %></p>
    <% end %>
    </div>
  </div>
  <div style="border-right: 1px solid;">
    <p>TIME FROM TIMESTAMP:</p>
    <div>
      <%= @tm %>
    </div>
  </div>
  <div style="border-right: 1px solid;">
    <p>SPEED:</p>
    <div>
      <% @track.speed.each do |spd| %>
        <p><%= spd %></p>
      <% end %>
    </div>
  </div>
  <div style="border-right: 1px solid;">
    <p>ACCURACY:</p>
    <div>
      <% @track.accuracy.each do |acc| %>
        <p><%= acc %></p>
      <% end %>
    </div>
  </div>
  <div style="border-right: 1px solid;">
    <p>ALTITUDE:</p>
    <div>
      <% @track.altitude.each do |alt| %>
        <p><%= alt %></p>
      <% end %>
    </div>
  </div>
  <div style="border-right: 1px solid;">
    <p>ALTITUDE ACCURACY:</p>
    <div>
      <% @track.altitude_accuracy.each do |alt_acc| %>
        <p><%= alt_acc %></p>
      <% end %>
    </div>
  </div>
</div>