<%= link_to root_url do %>
  <p>BACK</p>
<% end %>
<h1>This track exists</h1>
<p>TIME SPENT:<%= @track.time %></p>
<p>CREATED AT:<%= @track.created_at%></p>
<p>NAME:<%= @track.name%></p>

<div style="display: flex; flex-wrap: wrap;">
  <div>
      <%= content_tag "div", id: "coords", data: {coords: @track.coords} do %>
      <% end %>
  </div>
  <div style="border-right: 1px solid;">
    <p>SPEED:</p>
    <div>
      <% @track.speed.each do |spd| %>
        <p><%= spd %></p>
      <% end %>
    </div>
  </div>
</div>

<div id='map' style='width: 400px; height: 300px;'></div>
<script>

  var coords = JSON.parse(document.getElementById('coords').dataset.coords);
  console.log(coords);

  mapboxgl.accessToken = 'pk.eyJ1IjoibGVvbmRpYXNiIiwiYSI6ImNsMHJiNGJyeDAxcnQzZG9wNDZwajNuNDYifQ.47GK1AdHnqacQY-pPpxK_Q';
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: coords[Math.floor(coords.length/2)],
    zoom: 15
  });
  
  map.on('load', () => {
    map.addSource('route', {
      'type': 'geojson',
      'data': {
        'type': 'Feature',
        'properties': {},
        'geometry': {
          'type': 'LineString',
          'coordinates': coords
        }
      }
    });
    map.addLayer({
      'id': 'route',
      'type': 'line',
      'source': 'route',
      'layout': {
        'line-join': 'round',
        'line-cap': 'round'
      },
      'paint': {
        'line-color': '#888',
        'line-width': 8
      }
    });
  });
</script>